.parceiros-card{
    margin-top: 2%;
}
.texto-parceiros-card{
    text-align: justify;
    line-height: 40px;
    margin-bottom: 30px;    
}

.texto-descritivo-empresa{
    text-align: justify;
}

.linkroute{
    text-decoration: underline;
}

.botao-cadastre-sua-empresa{
    width: 15%;
    margin-top: 3%;
    margin-left: 85%;
}