.obrigado-card{
    margin-top: 2%;
}
.obrigado-card-texto-e-botao-enviar .obrigado-card-texto{
    margin-bottom: 10%;
}

.obrigado-card-texto-e-botao-enviar .obrigado-card-botao-enviar{
    margin-bottom: 10%;
}