.home-card{
    margin-top: 3%;
}

.forest-img{
    width: 30%;
    height: 50%;
}

.img-texto-btn-home-card{
    width: 100%;
    flex-direction: row;
    align-items: center;
    margin-left: 25%;
    gap: 30px;
}

