.header{
    padding-top: 3%;
    justify-content: space-around;
}

.menu-hamburguer-header{
    border: 3px solid green;
}


.links-header .links-menu:hover{
    background-color: white;
    color: green;
}

