.dashboard-card{
    margin-top: 3%;
}
.coluna-nome-da-empresa-dashboard-card{
    margin-left: 5%;
    margin-right: 5%;
}

.coluna-nome-da-empresa-dashboard-card input{
    border: 1px solid white;
    color: black;
}

.coluna-nome-da-empresa-dashboard-card input::placeholder{
    color: white;
}

.coluna-site-da-empresa-dashboard-card{
    margin-right: 5%;
}

.coluna-site-da-empresa-dashboard-card input{
    border: 1px solid white;
    color: black;
}

.coluna-site-da-empresa-dashboard-card input::placeholder{
    color: white;
}

.botao-atualizar-dashboard-card{
    padding-top: 10%;
    padding-bottom: 10%;
    align-items: flex-end;
}

