.contato-card{
    margin-top: 3%;
    display: block;
}

.inputs-nome-e-sobrenome{
    align-items: center;
    padding-bottom: 8px;
    margin-top: 3%;
    
}
.inputs-nome-e-sobrenome input{  
    margin: 2px; 
    margin-bottom: 3%;
    border: 1px solid white;
}

.inputs-nome-e-sobrenome input::placeholder{
    color: white;
}

.input-email-contato-card input{
    border: 1px solid white;
    margin-bottom: 2%;
}

.input-email-contato-card input::placeholder{
    color: white;
}

.input-msg-contato-card input{
    height: 150px;
    border: 1px solid white;
}

.input-msg-contato-card input::placeholder{
    color: white;
}

.link{
    margin-bottom: 50px;
}

.contato_card_btn{
    margin-top: 25px;
    margin-bottom: 50px;
    border-radius: 10px;
}