.novo-cadastro-card{
    margin-top: 2%;
}

.titulo-novo-cadastro{
    margin-bottom: -5%;
}


.stack_a{
    margin-left: 5%;
    margin-right: 5%;
}

.stack_b{
    margin-right: 5%;
}

.stack_b .stack_b1{
    width: 100%;
    margin-top: 13%;
}

.stack_a input,
.stack_b input,
.stack_b2 input,
.stack_b3 input{
    border: 1px solid white;
    color: black;
}

.stack_a input::placeholder,
.stack_b input::placeholder,
.stack_b2 input::placeholder,
.stack_b3 input::placeholder{
    color: white;
}

.stack-c{
    width: 100%;
}

.stack-c .botao-cadastrar{
    margin-top: 10%;
    margin-bottom: 5%;
    width: 40%
}

