.card{
    display: block;
    text-align: center;
}

.stack_a{
    align-items: center;
    margin-bottom: -100px;
}

.stack_b Button{
    margin-left: 45%;
}

.stack_a input{
    border: 1px solid white;
    color: black;
    width: 50%;
}

.stack input::placeholder{
    color: white;
}

.link{
    margin-top: -50px;
    margin-bottom: 50px;
}




