.card_login{
    display: block;
    text-align: center;
    margin-top: 2%;
}

.input-email-senha-logincard{
    color: black;
    max-width: 600px;
}

.input-email-senha-logincard input{
    border: 1px solid white;
    color: black;
}

.input-email-senha-logincard input::placeholder{
    color: white;
}





