.card_login{
    display: block;
    text-align: center;
    margin-top: 2%;
}

.input-email-senha-logincard{
    color: black;
    width: 40%;
}

.input-email-senha-logincard input{
    border: 1px solid white;
    color: black;
}

.input-email-senha-logincard input::placeholder{
    color: white;
}

.entrar-cadastre-se-botoes{
    margin-top: 3%;
}

.link-esqueci-minha-senha{
    margin-top: 3%;
    margin-bottom: 5%;
}



