.card-recuperar-senha{
    margin-top: 2%;
}
.input-email .botao-enviar-recuperar-senha{
    margin-top: 15%;
    margin-bottom: 15%;
    margin-left: 33%;
    width: 40%;
}

.input-email .input-email-recuperar-senha{
    width: 100%;
    border: 1px solid white;
    color: black;
}

.input-email .input-email-recuperar-senha::placeholder{
    color: white;
}
