
.stack .btnenviar{
    margin-top: 15%;
    margin-bottom: 10%;
    width: 50%;
    margin-left: 25%;
}

.stack input{
    width: 100%;
    border: 1px solid white;
    color: black;
}

.stack input::placeholder{
    color: white;
}
