.card{
    height: 80%;

}
.stack .btn{
    margin-top: 15%;
    margin-bottom: 10%;
    width: 50%;
}

.stack input{
    width: 100%;
    border: 1px solid white;
    color: black;
}

.stack input::placeholder{
    color: white;
}
